<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated metamodel1 -->
      <package
            uri="http://itu.dk"
            class="group11survey.Group11surveyPackage"
            genModel="model/metamodel1.genmodel"/>
   </extension>

</plugin>
